################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin/*
*/obj/*
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
/FisherManager.VueAdmin/node_modules
/FisherManager.VueCustomerPanel/node_modules
/FisherManager.Api/bin
/FisherManager.Api/obj
/FisherManager.Web/bin
/FisherManager.Web/obj
/FisherManager.Api/bin
/FisherManager.Api/obj
/FisherManager.Business/bin
/FisherManager.Business/obj
/FisherManager.Data/bin
/FisherManager.Data/obj
