@model List<MENU>
@{
    Layout = null;
    string currentLanguage = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}
<ul class="list-unstyled iconlist ml-0">
    @foreach (var menu in Model)
    {
        @MenuHtml(menu, currentLanguage)
    }
</ul>
@helper MenuHtml(MENU menu, string currentLanguage)
{
    string url = Url.Content("~/" + currentLanguage + "/" + menu.SEO_URL);
    <li class="mb-2">
        <a href="@url"><div>@menu.NAME</div></a>
    </li>
}

