
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content
        ============================================= -->
<section id="content">

    <div class="content-wrap pb-0">

        <div class="container mb-5">
            <div class="section-clients mx-auto" style="max-width: 700px">
                <div class="center clearfix mb-4">
                    <span class="badge badge-pill lightthemecolor color text-uppercase ls1 font-weight-medium py-2 px-3">
                        2020'DEN BERİ
                        SİZLERE DAHA İYİ HİZMET VEREBİLMEK İÇİN ÇALIŞIYORUZ
                    </span>
                </div>
                <div class="clear"></div>

                <div class="toggle mt-5" data-state="open">
                    <div class="toggle-header flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-circle-plus"></i>
                            <i class="toggle-open icon-line-circle-cross"></i>
                        </div>
                        <div class="toggle-title font-weight-medium">
                            FisherManager® Nedir?
                        </div>
                    </div>
                    <div class="toggle-content text-black-50">FisherManager® yazılım ürünü balık çiftliklerinizin kontrolünün sizin elinizde olmasını sağlar. Kuluçka döneminden hasat dönemine kadar tüm maliyetlerinizi takip eden, süreç boyunca ortaya çıkacak problemleri anında haber veren ve anlık olarak balıklarınızın boylarını takip etmenize imkan sağlayan FisherManager® sizin bir numaralı asistanınız olacaktır.</div>
                </div>

                <div class="toggle">
                    <div class="toggle-header flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-circle-plus"></i>
                            <i class="toggle-open icon-line-circle-cross"></i>
                        </div>
                        <div class="toggle-title font-weight-medium">
                            Maliyet Yönetimi
                        </div>
                    </div>
                    <div class="toggle-content text-black-50">Kuluçkahaneden hasata kadar olan süreçte çiftliğinizdeki tüm gelir ve giderleri takip edebilir, her bir balığın maliyetini hesaplayabilir ve bu sayede kârlılığınızı arttırabilirsiniz.</div>
                </div>

                <div class="toggle">
                    <div class="toggle-header flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-circle-plus"></i>
                            <i class="toggle-open icon-line-circle-cross"></i>
                        </div>
                        <div class="toggle-title font-weight-medium">
                            Süreç Takibi
                        </div>
                    </div>
                    <div class="toggle-content text-black-50">Çiftliğiniz içerisindeki tüm süreçleri FisherManager® üzerinden takip edebilirsiniz. Yemleme miktarınızı, yemleme zamanınızı, havuz sıcaklığını, personellerinizin hareketlerini, geçmişe yönelik işlemleri takip edebilir ve kontrol edebilirsiniz.</div>
                </div>

                <!-- <div class="toggle">
                    <div class="toggle-header flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-circle-plus"></i>
                            <i class="toggle-open icon-line-circle-cross"></i>
                        </div>
                        <div class="toggle-title font-weight-medium">
                            I am worried about my perishable food items. How We ares going to handle and preserve the same?
                        </div>
                    </div>
                    <div class="toggle-content text-black-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div> -->
                <!-- <div class="toggle">
                    <div class="toggle-header flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-circle-plus"></i>
                            <i class="toggle-open icon-line-circle-cross"></i>
                        </div>
                        <div class="toggle-title font-weight-medium">
                            How should I believe we will get best services at the destination of deport?
                        </div>
                    </div>
                    <div class="toggle-content text-black-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div>

                <div class="toggle border-0">
                    <div class="toggle-header flex-row-reverse">
                        <div class="toggle-icon">
                            <i class="toggle-closed icon-line-circle-plus"></i>
                            <i class="toggle-open icon-line-circle-cross"></i>
                        </div>
                        <div class="toggle-title font-weight-medium">
                            My Family wishes to get our car loaded in our presence. Is it feasible?
                        </div>
                    </div>
                    <div class="toggle-content text-black-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi tempore necessitatibus dolores ducimus enim libero eaque explicabo suscipit animi at quaerat aliquid ex expedita perspiciatis? Saepe, aperiam, nam unde quas beatae vero vitae nulla.</div>
                </div> -->
            </div>
        </div>

        <div class="clear"></div>

        <div class="clear"></div>

        <div class="section dark pt-0 mb-0 bg-color" style="background: url('demos/movers/images/bg-2.png') no-repeat center bottom / 100%; overflow: visible">
            <svg viewBox="0 0 1960 206.8" class="bg-white">
                <path class="svg-themecolor" style="opacity:0.2;" d="M0,142.8A2337.49,2337.49,0,0,1,297.5,56.3C569.33-3.53,783.89.22,849.5,2.3c215.78,6.86,382.12,45.39,503.25,73.45,158.87,36.8,283.09,79.13,458.75,54.55A816.49,816.49,0,0,0,1983,86.8v110H0Z" />
                <path class="svg-themecolor" d="M.5,152.8s498-177,849-150,1031,238,1134,94v110H.5Z" />
            </svg>
            <div class="container">
                <div class="row align-items-center justify-content-center center my-4">

                    <div class="col-sm-8">
                        <div class="heading-block border-bottom-0 mb-4">
                            <h2 class="font-weight-semibold ls0 nott mb-3" style="font-size: 44px; line-height: 1.3">
                                Uzmanlarımızla İletişime
                                Geçin
                            </h2>
                            <p>Aklınızda soru işareti varsa FisherManager® danışmanlarıyla iletişime geçin.</p>
                        </div>
                        <a href="iletisim.html" class="button button-white button-light button-rounded font-weight-medium m-0">İLETİŞİME GEÇ</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section><!-- #content end -->
